.btn-group {
	width: 100%;
}

.chat-message-user {
	margin-top: 3px;
	padding: 3px;
	background-color: #fdfd;
	border-radius: 4px;
}
 
.chat-message-common {
	margin-top: 3px;
	padding: 3px; 
	border-radius: 4px;
	background-color: #cccccc;
}

#chat-list{
	height: 400px;
	overflow-y : scroll;
	overfloe-x: none;
}